<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ieee.donn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver
            android:name=".NeedBlood.AlarmReciever"
            android:process=":remote" />

        <service android:name=".Services.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.IDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Main.LoginSignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.ConnectUsers"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ieee.donn.CONNECT_USERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PhoneAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.JoinNetworkActivity"></activity>
    </application>

</manifest>